[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-bg: black;
    --bs-body-color: rgb(255, 255, 255);
    --bs-btn-bg: rgb(255, 255, 255);
    --bs-btn-color: rgb(33, 37, 41);
    --bs-link-color-rgb: white;
    --bs-link-hover-color-rgb: white;

    .navbar {
        --bs-navbar-color: white;
        --bs-navbar-hover-color: white;
        --bs-navbar-brand-color: white;
        --bs-navbar-brand-hover-color: white;
    }

    .card {
        --bs-card-bg: black;
        --bs-card-color: white;
        --bs-border-color-translucent: white;
    }

    .progress {
        --bs-progress-bar-bg: rgb(255, 255, 255);
    }

    img {
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);
    }
}