:root,
[data-bs-theme=light] {
    --bs-body-bg: white;
    --bs-body-color: black;
    --bs-btn-bg: black;
    --bs-btn-color: white;
    --bs-link-color: black;
    --bs-link-hover-color: black;

    .navbar {
        --bs-navbar-color: black;
        --bs-navbar-hover-color: black;
    }

    .progress {
        --bs-progress-bar-bg: rgb(0, 0, 0);
    }
}