:root,
[data-bs-theme=light] {

    // body variables
    --bs-body-bg: white;
    --bs-body-color: black;//for text color

    // button color
    --bs-btn-bg: rgb(33,37,41);
    --bs-btn-color: rgb(255, 255, 255);

    --bs-link-color: black;
    --bs-link-hover-color: black;

    .navbar {
        --bs-navbar-color: black;
        --bs-navbar-hover-color: black;
    }

    .timeline-date p{
        color: #020710;
    }

    .progress{
        --bs-progress-bar-bg: rgb(0, 0, 0);
        // --bs-progress-bar-color: rgb(255, 255, 255);//if what to make bg of progress bar white
    }

    .form-check-input{
        border: 2px solid black;
    }

    .form-check-input:checked{
        background-color: black;
        border-color: black;
        box-shadow: 0 0 0 1px rgb(255, 255, 255);
    }

    .form-check-input:focus{
        box-shadow: 0 0 0 1px rgb(255, 255, 255);
    }

    // .badge{
    //     --bs-badge-color: rgb(255,255,255);
    //     --bs-body-color: rgb(0,0,0);
    // }
}