:root,
[data-bs-theme='light'] {
  --bs-body-color: rgb(0, 0, 0);
  --bs-body-bg: white;
  --bs-body-line-height: 1.75;

  --bs-btn-color: white;
  --bs-btn-bg: black;

  --bs-link-color: black;
  --bs-link-hover-color: black;
  --bs-link-color-rgb: black;
  --bs-link-hover-color-rgb: black;

  --bs-body-font-family: 'Roboto';
  --bs-headings-font-family: 'Nunito';

  .navbar {
    --bs-navbar-color: black;
    --bs-navbar-hover-color: black;
  }

  .logo-text {
    font-family: 'Indie Flower';
  }

  .progress {
    --bs-progress-bar-bg: rgb(0, 0, 0);
  }
}
