[data-bs-theme='dark'] {
  color-scheme: dark;
  --bs-body-color: rgb(255, 255, 255);
  --bs-body-bg: black;

  --bs-btn-color: white;
  --bs-btn-bg: white;

  --bs-link-color: white;
  --bs-link-hover-color: white;
  --bs-link-color-rgb: white;
  --bs-link-hover-color-rgb: white;

  --bs-white-rgb: 0, 0, 0;

  .navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: white;
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
  }

  .card {
    --bs-card-bg: black;
    --bs-card-color: white;
    --bs-border-color-translucent: white;
  }

  .progress {
    --bs-progress-bar-bg: rgb(255, 255, 255);
  }

  img {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
}
