@import "variables";

@import "bootstrap";

@import "theme/white/light.scss";

// @import "theme/white/dark.scss";

li:hover{
    color: #d6564d;
}

.card:hover{
    filter: invert(100%);
}

.btn{
    border: 2px solid #d6564d;
    color: #d6564d
}

.btn:hover{
    background-color: #d6564d;
    color: white;
}